@import './color';
@import './utilies';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-awesome{
    font-family: 'Megrim', cursive;
}


.header{
    background:$background-1;
    @include flexCenter;
    padding: 13px 0 25px 0;
}

.todo-insert-container{
    background: $background-2;
    width: 100%;
    @include flexCenter;
    padding: 35px 0 35px 0;
    gap: 15px;
    box-shadow: 0px 5px 10px black, 0px -5px 10px black;

    #todo-input{
        border-radius: 15px;
        height: 40px;
        width: 600px;
        box-shadow: 5px 5px 10px black;
        text-align: center;
        border: none;
        font-style: italic;
        font-weight: bold;
    }

    .button{
        width: 80px;
        height: 40px;
        border-radius: 20px;
        cursor: pointer;
        border: none;
        box-shadow: 5px 5px 10px black;
    }

    #todo-button{
        font-weight: bold;
        background: $add_button_color;
       
        &:hover{
            background: $background-1;
            box-shadow: 5px 5px 10px $bgc2;
        }
    }

    #remove-button{
        background: $remove_button_color;
        color: white;
        font-weight: bold;
        &:hover{
            background: $background-1;
            box-shadow: 5px 5px 10px $bgc2;
        }
    }
}

body{
    background: $background-1;
}

.todo-list-container{
    @include flexCenter;
    padding-top: 50px;
    font-size: 32px;
    flex-direction: column;

    h1{
        font-size: 32px;
    }
    ul{
        @include flexCenter;
        flex-direction: column;
        gap: 5px;
        width: 80%;
        box-shadow: 5px 5px 10px black;
        padding: 10px;
        border-radius: 5px;

        .my-todo{
            margin-right: 5px;
            display: flex;
            width: 80%;
            align-items: center;
            justify-content: space-between;
            box-shadow: 5px 5px 10px black;
            margin: 10px 0;
            padding: 0 1rem;
            border-radius: 20px;
            cursor: pointer;
            


            h3{
                font-size: 20px;
                cursor: pointer;
            }


        }

    }
}